<template>
  <div>
    <label>คำร้องขอเพิ่มสินค้าเข้าสต๊อก</label>
    <el-table :data="dataReqTran">
      <el-table-column min-width="" type="index"></el-table-column>
      <el-table-column min-width="" prop="m_id" label="รหัสตู้กดน้ำ"></el-table-column>
      <el-table-column min-width="" prop="p_id" label="รหัสสินค้า"></el-table-column>
      <el-table-column min-width="150" prop="req_amount" label="จำนวนที่ขอเพิ่ม"></el-table-column>
      <el-table-column min-width="150" prop="req_date_time" label="วันที่ทำเรื่อง"></el-table-column>
      <el-table-column min-width="150" header-align="right" label="สถานะ">
        <div slot-scope="{ row }" class="text-right">
          <label v-if="row.req_status == 0">ไม่อนุมัติ</label>
          <label v-if="row.req_status == 1">รอการอนุมิติ</label>
          <label v-if="row.req_status == 2">อนุมัติแล้ว</label>
        </div>
      </el-table-column>
      <el-table-column min-width="300" header-align="right" label="">
        <div slot-scope="{ row }" class="text-right" v-if="row.req_status == 1">
          <el-tooltip content="Settings" :open-delay="300" placement="top">
            <base-button type="success" @click="ApproveReq(row.req_id)">
              อนุมัติ
            </base-button>
          </el-tooltip>
          <el-tooltip content="Settings" :open-delay="300" placement="top">
            <base-button type="error" @click="CancelReq(row.req_id)">
              ไม่อนุมัติ
            </base-button>
          </el-tooltip>
        </div>
      </el-table-column>
    </el-table>
  </div>
</template>

<script>
import axios from 'axios'
import swal from 'sweetalert2'
import { Table, TableColumn } from "element-ui";
export default {
   components: {
    [Table.name]: Table,
    [TableColumn.name]: TableColumn,
  },
  data() {
    return {
      dataReqTran: [],
      staff:'',
      status: 0,
    }
  },
  mounted() {
    this.getDataReq();
    this.getUser();
    this.getStatusLogin();
  },
  methods: {
    getDataReq() {
      axios.get('http://localhost:3300/getAllReq').then((res) => {
        this.dataReqTran = res.data
        console.log(this.dataReqTran)
      })
    },
    ApproveReq(req_id) {
        let data = {
            req_id:req_id
        }
        axios.post('http://localhost:3300/ApproveReq',data).then((res)=>{
            swal.fire(
                'ทำการอนุมัติการจัดส่งสินค้าเรียบร้อยแล้ว',
                'ทางระบบจะส่งข้อมูลการจัดส่งสินค้าไปให้คนส่งของ',
                'success'
            )
            this.getDataReq();
        } , err=>{
            swal.fire(
                'Error',
                'เกิดข้อผิดพลาด',
                'error'
            )
        })
    },
    CancelReq(req_id) {
        let data = {
            req_id:req_id
        }
        axios.post('http://localhost:3300/CancelReq',data).then((res)=>{
            swal.fire(
                'ไม่อนุมัติ',
                'ยกเลิกการจัดส่งสินค้า',
                'success'
            )
            this.getDataReq();
        } , err=>{
            swal.fire(
                'Error',
                'เกิดข้อผิดพลาด',
                'error'
            )
        })
    },
    logout() {
      localStorage.clear()
      this.$router.push('/login')
    },
    getUser() {
      this.staff = localStorage.getItem('staff_id')
      if (this.staff == '') {
        this.status = 0
      } else {
        this.status = 1
      }
    },
    getStatusLogin() {
        this.staff = localStorage.getItem('staff_id')
        console.log(this.staff + "this.staff");
        if (this.staff == null) {
           window.location.href = '/login';
        }
      },
  },
}
</script>

<style>
.v-toolbar__content {
  background-color: black;
}
.swal2-title {
    font-family: "Montserrat";
}
.swal2-content {
    font-family: "Montserrat";
    font-size: 16px;
}
</style>