<template>
  <div>
    <modal :show.sync="modals" class="dark-mode">
      <template slot="header">
        <h5 class="modal-title" id="exampleModalLabel">เปลี่ยนสถานะ</h5>
      </template>
      <div>
        <input type="radio" v-model="radio" value="1">รับเรื่องส่ง
        <br>
        <input type="radio" v-model="radio" value="2">กำลังจัดส่ง
        <br>
        <input type="radio" v-model="radio" value="3">ส่งของเรียบร้อยแล้ว
        <br>
        <input type="radio" v-model="radio" value="0">ยกเลิก
      </div>
      <template slot="footer">
        <base-button type="secondary" @click="modals = false">Close</base-button>
        <base-button type="primary" @click="updateStockTran()">Save</base-button>
      </template>
    </modal>

    <label>ตารางจัดส่งสินค้า</label>
    <el-table :data="dataTran">
      <el-table-column min-width="50" type="index"></el-table-column>
      <el-table-column min-width="150" prop="m_id" label="รหัสตู้กดน้ำ"></el-table-column>
      <el-table-column min-width="200" prop="p_id" label="รหัสสินค้า"></el-table-column>
      <el-table-column min-width="150" prop="amount" label="จำนวน"></el-table-column>
      <el-table-column min-width="150" header-align="right" label="สถานะ">
        <div slot-scope="{ row }" class="text-right">
          <label v-if="row.st_status == 0">ยกเลิก</label>
          <label v-if="row.st_status == 1">รับเรื่องส่ง</label>
          <label v-if="row.st_status == 2">กำลังจัดส่ง</label>
          <label v-if="row.st_status == 3">ส่งของแล้ว</label>
        </div>
      </el-table-column>
      <el-table-column min-width="300" header-align="right" label="">
        <div slot-scope="{ row }" class="text-right" v-if="row.st_status != 3">
          <el-tooltip content="Settings" :open-delay="300" placement="top">
            <base-button
              type="success"
              @click="getStockTranId(row.st_id, row.st_status)">
              เปลี่ยนสถานะ
            </base-button>
          </el-tooltip>
        </div>
      </el-table-column>
    </el-table>
  </div>
</template>

<script>
import axios from "axios";
import swal from "sweetalert2";
import { Modal } from "@/components";
import { Table, TableColumn } from "element-ui";

export default {
  components: {
    Modal,
    [Table.name]: Table,
    [TableColumn.name]: TableColumn,

  },
  data() {
    return {
      modals: false,
      radio:'',
      st_id_for_update: "",
      dialog: false,
      dataTran: [],
      staff: "",
      status: 0,
    };
  },
  mounted() {
    this.getAllTran();
    this.getUser();
    this.getStatusLogin();
  },
  methods: {
     getStatusLogin() {
        this.staff = localStorage.getItem('staff_id')
        console.log(this.staff + "this.staff");
        if (this.staff == null) {
           window.location.href = '/login';
        }
      },
    getAllTran() {
      axios.get("http://localhost:3300/getAllTran").then((res) => {
        this.dataTran = res.data;
      });
    },
    getStockTranId(st_id, st_status) {
      this.modals = true;
      console.log(st_id, st_status);
      this.st_id_for_update = st_id;
      this.radios = st_status;
    },
    updateStockTran() {
      let data = {
        st_id: this.st_id_for_update,
        st_status: this.radio,
      };
      axios.post("http://localhost:3300/updateStockTran", data).then(
        (res) => {
          this.modals = false;
          if (this.radios == 3) {
            swal.fire(
              "เปลี่ยนสถานะสำเร็จ",
              "อัพเดทสต๊อกเรียบร้อยแล้ว",
              "success"
            );
          } else {
            swal.fire("Success", "เปลี่ยนสถานะสำเร็จ", "success");
          }
          this.getAllTran();
        },
        (err) => {
          swal.fire("Error", "มีบางอย่างผิดพลาด", "error");
        }
      );
    },
    logout() {
      localStorage.clear();
      this.$router.push("/login");
    },
    getUser() {
      this.staff = localStorage.getItem("staff_id");
      if (this.staff == "") {
        this.status = 0;
      } else {
        this.status = 1;
      }
    },
  },
};
</script>

<style>
.v-toolbar__content {
  background-color: black;
}
.swal2-title {
  font-family: "Montserrat";
}
.swal2-content {
  font-family: "Montserrat";
  font-size: 16px;
}
</style>