<template>
  <div>
    <div class="row">
      <div class="col-lg-10"></div>
      <div class="col-lg-2">
        <base-button type="success" @click="modals = true;amount_for_req = ''">ขอเพิ่มสินค้า</base-button>
      </div>
    </div>
    <modal :show.sync="modals" class="dark-mode">
     <template slot="header">
        <h5 class="modal-title" id="exampleModalLabel">ขอเพิ่มสินค้า</h5>
     </template>
     <div>
      <base-input label="จำนวนสินค้า"
                  type="text"
                  placeholder="กรุณากรอกจำนวนที่ต้องการ"
                  v-model="amount_for_req">
      </base-input>
     </div>
     <template slot="footer">
         <base-button type="secondary" @click="modals = false">Close</base-button>
         <base-button type="primary" @click="addReq()">Save</base-button>
     </template>
   </modal>
   <label>ประวัติการขอเพิ่มสินค้าเข้าสต๊อก</label>
    <el-table :data="dataReqTran">
      <el-table-column min-width="50" type="index"></el-table-column>
      <el-table-column min-width="150" prop="p_id" label="รหัสสินค้า"></el-table-column>
      <el-table-column min-width="200" prop="req_amount" label="จำนวนที่ขอเพิ่ม"></el-table-column>
      <el-table-column min-width="150" prop="req_date_time" label="วันที่ทำเรื่อง"></el-table-column>
      <el-table-column min-width="150" header-align="right" label="สถานะ">
        <div slot-scope="{ row }" class="text-right">
          <label v-if="row.req_status == 0">ไม่อนุมัติ</label>
          <label v-if="row.req_status == 1">รอการอนุมิติ</label>
          <label v-if="row.req_status == 2">อนุมัติแล้ว</label>
        </div>
      </el-table-column>
    </el-table>
  </div>
</template>

<script>
import axios from 'axios'
import swal from 'sweetalert2';
import {Modal} from '@/components'
import { Table, TableColumn } from "element-ui";
export default {
  components: {
    Modal,
    [Table.name]: Table,
    [TableColumn.name]: TableColumn,
  },
  data() {
    return {
      modals:false,
      //p_id_for_req: '',
      amount_for_req: '',
      dialog: false,
      m_id_for_history: '',
      p_id_for_history: '',
      dataReqTran: [],
      staff:'',
      status: 0,
    }
  },
  mounted() {
    this.getDataStockTran();
    this.getUser();
    this.getStatusLogin();
  },
  methods: {
    getStatusLogin() {
        this.staff = localStorage.getItem('staff_id')
        console.log(this.staff + "this.staff");
        if (this.staff == null) {
           window.location.href = '/login';
        }
      },
    getDataStockTran() {
      this.m_id_for_history = localStorage.getItem('m_id_for_history')
      this.p_id_for_history = localStorage.getItem('p_id_for_history')
      console.log(this.m_id_for_history)
      let data = {
        m_id: this.m_id_for_history,
        p_id: this.p_id_for_history,
      }
      axios
        .post('http://localhost:3300/getReqByM_idandB_id', data)
        .then((res) => {
          this.dataReqTran = res.data
          console.log(this.dataReqTran)
        })
    },
    addReq(){
        
        let data = {
            m_id:this.m_id_for_history,
            p_id:this.p_id_for_history,
            req_amount:this.amount_for_req
        }
        axios.post("http://localhost:3300/addReqProduct", data).then((res)=>{
            if(res.data != "400"){
                 swal.fire(
                'ทำเรื่องขอสินค้าเข้าคลังสำเร็จ',
                'กรุณารอการอนุมัติจากสำนักงานใหญ่',
                'success'
                )
                this.modals = false
                this.getDataStockTran();
            }else{
                swal.fire(
                'เกิดข้อผิดพลาด',
                'กรุณาตรวจสอบอีกครั้ง',
                'error'
                )
            }
        })
    },
    toMainManagerPage ()
    {
       window.location.href="/managerPage";
    },
    logout() {
      localStorage.clear()
      this.$router.push('/login')
    },
    getUser() {
      this.staff = localStorage.getItem('staff_id')
      if (this.staff == '') {
        this.status = 0
      } else {
        this.status = 1
      }
    },
  },
}
</script>

<style>
.v-toolbar__content {
  background-color: black;
}
.swal2-title {
    font-family: "Montserrat";
}
.swal2-content {
    font-family: "Montserrat";
    font-size: 16px;
}
input.form-control {
    color: #000 !important;
}
</style>