<template>
  <div class="row">
    <!-- Small charts -->
    <div class="col-lg-4" :class="{ 'text-right': isRTL }">
      <card type="chart">
        <template slot="header">
          <h5 class="card-category">จำนวนสินค้าใน Stock ตู้ที่ 1</h5>
          <h3 class="card-title">
            <i class="tim-icons text-info"
              >ประจำวันที่ {{ day }}/{{ month }}/{{ year }}</i
            >
          </h3>
        </template>
        <div class="chart-area">
          <bar-chart
            style="height: 100%"
            :chart-data="blueBarChart1.chartData"
            :gradient-stops="blueBarChart1.gradientStops"
            :extra-options="blueBarChart1.extraOptions"
          >
          </bar-chart>
        </div>
      </card>
      <card type="chart">
        <template slot="header">
          <h5 class="card-category">จำนวนสินค้าใน Stock ตู้ที่ 2</h5>
          <h3 class="card-title">
            <i class="tim-icons text-info"
              >ประจำวันที่ {{ day }}/{{ month }}/{{ year }}</i
            >
          </h3>
        </template>
        <div class="chart-area">
          <bar-chart
            style="height: 100%"
            :chart-data="blueBarChart2.chartData"
            :gradient-stops="blueBarChart2.gradientStops"
            :extra-options="blueBarChart2.extraOptions"
          >
          </bar-chart>
        </div>
      </card>
    </div>
    <div class="col-lg-8">
      <card type="tasks" :header-classes="{ 'text-right': isRTL }">
        <template slot="header" class="d-inline">
          <h6 class="title d-inline">สินค้าใกล้จะหมด</h6>
          <p class="card-category d-inline"></p>
        </template>
        <div class="table-full-width table-responsive">
          <base-table :data="dataBeingSoldout" thead-classes="text-primary">
            <template slot-scope="{ row }">
              <td>
                <p class="title" style="font-size:16px;"><i class="tim-icons icon-simple-delete"></i> เครื่องดื่มรส {{ row.p_name }} ในตู้ที่ {{row.m_id}}</p>
                <p class="text-muted">กรุณาสั่งสินค้าเพิ่มไปยังตู้ทันที</p>
              </td>
            </template>
          </base-table>
        </div>
      </card>
      <img src="../img/map.jpg" width="1300" style=""/>

    </div>
  </div>
</template>
<script>
import LineChart from "@/components/Charts/LineChart";
import BarChart from "@/components/Charts/BarChart";
import * as chartConfigs from "@/components/Charts/config";
import TaskList from "@/components/Dashboard/TaskList";
import config from "@/config";
import { Table, TableColumn } from "element-ui";
import axios from "axios";
import { BaseTable } from '@/components';
let bigChartData = [
  [100, 70, 90, 70, 85, 60, 75, 60, 90, 80, 110, 100],
  [80, 120, 105, 110, 95, 105, 90, 100, 80, 95, 70, 120],
  [60, 80, 65, 130, 80, 105, 90, 130, 70, 115, 60, 130],
];
let bigChartLabels = [
  "JAN",
  "FEB",
  "MAR",
  "APR",
  "MAY",
  "JUN",
  "JUL",
  "AUG",
  "SEP",
  "OCT",
  "NOV",
  "DEC",
];
let bigChartDatasetOptions = {
  fill: true,
  borderColor: config.colors.primary,
  borderWidth: 2,
  borderDash: [],
  borderDashOffset: 0.0,
  pointBackgroundColor: config.colors.primary,
  pointBorderColor: "rgba(255,255,255,0)",
  pointHoverBackgroundColor: config.colors.primary,
  pointBorderWidth: 20,
  pointHoverRadius: 4,
  pointHoverBorderWidth: 15,
  pointRadius: 4,
};

export default {
  name: "dashboard",
  components: {
    BaseTable,
    LineChart,
    BarChart,
    TaskList,
    [Table.name]: Table,
    [TableColumn.name]: TableColumn,
  },
  data() {
    return {
      test_dt: [53, 20, 10, 80],
      dataBeingSoldout: [],
      dataStockMachine_1: [],
      dataStockMachine_2: [],
      day: new Date().getDate(),
      month: new Date().getMonth() + 1,
      year: new Date().getFullYear(),
      bigLineChart: {
        activeIndex: 0,
        chartData: {
          datasets: [
            {
              ...bigChartDatasetOptions,
              data: bigChartData[0],
            },
          ],
          labels: bigChartLabels,
        },
        extraOptions: chartConfigs.purpleChartOptions,
        gradientColors: config.colors.primaryGradient,
        gradientStops: [1, 0.4, 0],
        categories: [],
      },
      blueBarChart1: {
        extraOptions: chartConfigs.barChartOptions,
        chartData: {
          labels: ["", "", "", ""],
          datasets: [
            {
              label: "Amount",
              fill: true,
              borderColor: config.colors.info,
              borderWidth: 2,
              borderDash: [],
              borderDashOffset: 0.0,
              data: [0, 0, 0, 0],
            },
          ],
        },
        gradientColors: config.colors.primaryGradient,
        gradientStops: [1, 0.4, 0],
      },
      blueBarChart2: {
        extraOptions: chartConfigs.barChartOptions,
        chartData: {
          labels: ["", "", "", ""],
          datasets: [
            {
              label: "Amount",
              fill: true,
              borderColor: config.colors.info,
              borderWidth: 2,
              borderDash: [],
              borderDashOffset: 0.0,
              data: [0, 0, 0, 0],
            },
          ],
        },
        gradientColors: config.colors.primaryGradient,
        gradientStops: [1, 0.4, 0],
      },
    };
  },
  created() {
    this.getStockByMid1();
    this.getStockByMid2();
  },
  computed: {
    enableRTL() {
      return this.$route.query.enableRTL;
    },
    isRTL() {
      return this.$rtl.isRTL;
    },
    bigLineChartCategories() {
      return [
        { name: "Accounts", icon: "tim-icons icon-single-02" },
        {
          name: "Purchases",
          icon: "tim-icons icon-gift-2",
        },
        { name: "Sessions", icon: "tim-icons icon-tap-02" },
      ];
    },
  },
  methods: {
     getStatusLogin() {
        this.staff = localStorage.getItem('staff_id')
        console.log(this.staff + "this.staff");
        if (this.staff == null) {
           window.location.href = '/login';
        }
      },
    getStockbeingSoldout() {
      axios.get('http://localhost:3300/getStockbeingSoldout').then((res) => {
        this.dataBeingSoldout = res.data
        console.log(this.dataBeingSoldout)
      })
    },
    getStockByMid1() {
      axios.get("http://localhost:3300/getStockByMid1").then((res) => {
        this.dataStockMachine_1 = res.data;
        console.log(this.dataStockMachine_1);
        this.blueBarChart1.chartData.labels[0] = res.data[0].p_name;
        this.blueBarChart1.chartData.labels[1] = res.data[1].p_name;
        this.blueBarChart1.chartData.labels[2] = res.data[2].p_name;
        this.blueBarChart1.chartData.labels[3] = res.data[3].p_name;

        this.blueBarChart1.chartData.datasets[0].data[0] = res.data[0].amount;
        this.blueBarChart1.chartData.datasets[0].data[1] = res.data[1].amount;
        this.blueBarChart1.chartData.datasets[0].data[2] = res.data[2].amount;
        this.blueBarChart1.chartData.datasets[0].data[3] = res.data[3].amount;
        console.log(this.blueBarChart1.chartData.datasets[0].data[0]);
      });
    },
    getStockByMid2() {
      axios.get("http://localhost:3300/getStockByMid2").then((res) => {
        this.dataStockMachine_2 = res.data;
        console.log(this.dataStockMachine_2);
        this.blueBarChart2.chartData.labels[0] = res.data[0].p_name;
        this.blueBarChart2.chartData.labels[1] = res.data[1].p_name;
        this.blueBarChart2.chartData.labels[2] = res.data[2].p_name;
        this.blueBarChart2.chartData.labels[3] = res.data[3].p_name;

        this.blueBarChart2.chartData.datasets[0].data[0] = res.data[0].amount;
        this.blueBarChart2.chartData.datasets[0].data[1] = res.data[1].amount;
        this.blueBarChart2.chartData.datasets[0].data[2] = res.data[2].amount;
        this.blueBarChart2.chartData.datasets[0].data[3] = res.data[3].amount;
      });
    },
    initBigChart(index) {
      let chartData = {
        datasets: [
          {
            ...bigChartDatasetOptions,
            data: bigChartData[index],
          },
        ],
        labels: bigChartLabels,
      };
      this.bigLineChart.chartData = chartData;
      this.bigLineChart.activeIndex = index;
    },
  },
  mounted() {
    this.initBigChart(0);
    this.getStockbeingSoldout();
    this.getStockByMid1();
    this.getStockByMid2();
    this.getStatusLogin();
  },
  updated() {
        
  },
};
</script>
<style>
.card-chart .card-header .card-title i {
  font-size: 16px;
  margin-right: 5px;
  margin-bottom: 3px;
  font-family: "Bai Jamjuree";
}
</style>
