<template>
   <card style="width:70%;">
     <h2>ADMIN</h2>
    <form @submit.prevent>
      <base-input v-model="username"
                :rules="usernameRules"
                :counter="20"
                label="Username"
                required
                @keyup.enter="Login()">
      </base-input>
      <base-input  v-model="password"
                  :rules="passwordRules"
                  :counter="20"
                  :append-icon="showPass ? 'mdi-eye' : 'mdi-eye-off'"
                  :type="showPass ? 'text' : 'password'"
                  @click:append="showPass = !showPass"
                  label="Password"
                  required
                  @keyup.enter="Login()">
      </base-input>
     <base-button native-type="submit" type="primary" @click="Login()">Submit</base-button>
    </form>
</card>
</template>

<script>
import swal from 'sweetalert2';
import axios from "axios";
export default {
  data() {
    return {
        showPass:false,
        valid: false,
        username: '',
        password: '',
        usernameRules: [
            v => !!v || 'Username is required',
            v => v.length <= 20 || 'Username must be less than 20 characters',
        ],
        passwordRules: [
            v => !!v || 'Password is required',
            v => v.length <= 20 || 'Password must be less than 20 characters',
        ],
    };
  },
  mounted() {
    
  },
  methods: {
      Login() {
      let data = {
        username: this.username,
        password: this.password,
      };
      axios.post("http://localhost:3300/login", data).then((res) => {
        if (res.data != "username หรือ password ไม่ถูกต้อง") {
            console.log(res.data)
            localStorage.setItem("staff_id", res.data[0].staff_id);
            localStorage.setItem("branch_id", res.data[0].b_id);
            localStorage.setItem("staff_status", res.data[0].staff_status);
            swal.fire(
                'Success',
                'เข้าสู่ระบบสำเร็จ',
                'success'
            )
            if(res.data[0].staff_status == 1){
                window.location.href = '/';
            }else if(res.data[0].staff_status == 2){
                window.location.href = 'managerPage';
            }else if(res.data[0].staff_status == 3){
                window.location.href = 'driverPage';
            }
        } else {
            console.log(res.data)
            swal.fire(
                'เข้าสู่ระบบล้มเหลว',
                res.data,
                'error'
            )
        }
      });
    },
  }
};
</script>

<style>
button.v-btn.v-btn--outlined.theme--dark.black--text:hover {
  background-color: black;
  color: white !important;
}
.v-toolbar__content {
    background-color: black;
}
.swal2-title {
    font-family: "Montserrat";
}
.swal2-content {
    font-family: "Montserrat";
    font-size: 16px;
}
</style>