<template>
  <div>
    <div class="row">
      <div class="col-lg-10"></div>
      <div class="col-lg-2">
        <el-select
          class="select-danger"
          placeholder="เลือกรหัสตู้กดน้ำ"
          v-model="select"
          @change="getStockByMid(select)"
        >
          <el-option
            v-for="option in dataMachine"
            class="select-danger"
            :value="option.m_id"
            :label="option.m_id"
            :key="option.m_id"
          >
          </el-option>
        </el-select>
      </div>
    </div>
    <br>
    <el-table :data="dataStock">
      <el-table-column min-width="50" type="index"></el-table-column>
      <el-table-column min-width="150" prop="p_id" label="รหัสสินค้า"></el-table-column>
      <el-table-column min-width="200" prop="p_name" label="ชื่อ"></el-table-column>
      <el-table-column min-width="150" prop="p_price" label="ราคา"></el-table-column>
      <el-table-column min-width="150" prop="amount" label="จำนวนคงเหลือ"></el-table-column>
      <el-table-column min-width="150" prop="update_date_time" label="เวลาอัพเดทสต๊อกล่าสุด"></el-table-column>
      <el-table-column min-width="150" header-align="right" label="ดูรายละเอียด">
        <div slot-scope="{ row }" class="text-right">
          <el-tooltip content="Settings" :open-delay="300" placement="top">
            <base-button type="success" size="sm" icon @click="openDetailHistory(row.m_id,row.p_id)">
              <i class="tim-icons icon-settings"></i>
            </base-button>
          </el-tooltip>
        </div>
      </el-table-column>
    </el-table>

  </div>
</template>

<script>
import { Select, Option } from "element-ui";
import { Table, TableColumn } from "element-ui";
import axios from "axios";

export default {
  components: {
    [Select.name]: Select,
    [Option.name]: Option,
    [Table.name]: Table,
    [TableColumn.name]: TableColumn,
  },
  data() {
    return {
      tableData: [
        {
          id: 1,
          name: "Dakota Rice",
          salary: "$36.738",
          country: "Niger",
          city: "Oud-Turnhout",
        },
      ],

      dataMachine: [],
      dataStock: [],
      dataBeingSoldout: [],
      select: "",
      card_alert: false,
      staff: "",
      status: 0,
    };
  },
  mounted() {
    this.getMachine();
    this.getStockbeingSoldout();
    this.getUser();
    this.getStatusLogin();
  },
  methods: {
    getStatusLogin() {
        this.staff = localStorage.getItem('staff_id')
        console.log(this.staff + "this.staff");
        if (this.staff == null) {
           window.location.href = '/login';
        }
      },
    getMachine() {
      let b_id = localStorage.getItem("branch_id");
      let data = {
        b_id: b_id,
      };
      axios.post("http://localhost:3300/getMachineByBid", data).then((res) => {
        this.dataMachine = res.data;
        console.log(this.dataMachine);
      });
    },
    getStockByMid(m_id) {
      let data = {
        m_id: m_id,
      };
      console.log(m_id);
      axios.post("http://localhost:3300/getStockByMid", data).then((res) => {
        console.log(res.data);
        this.dataStock = res.data;
      });
    },
    openDetailHistory(m_id, p_id) {
      console.log(m_id)
      console.log(p_id)
      localStorage.removeItem("m_id_for_history");
      localStorage.removeItem("p_id_for_history");
      localStorage.setItem("m_id_for_history", m_id);
      localStorage.setItem("p_id_for_history", p_id);
      this.$router.push("/historyStockTran");
    },
    toCloseCardAlert() {
      this.card_alert = true;
    },
    getStockbeingSoldout() {
      axios.get("http://localhost:3300/getStockbeingSoldout").then((res) => {
        this.dataBeingSoldout = res.data;
        console.log(this.dataBeingSoldout);
      });
    },
    logout() {
      localStorage.clear();
      this.$router.push("/login");
    },
    getUser() {
      this.staff = localStorage.getItem("staff_id");
      if (this.staff == "") {
        this.status = 0;
      } else {
        this.status = 1;
      }
    },
  },
};
</script>

<style>
.v-toolbar__content {
  background-color: black;
}
button.v-btn.v-btn--outlined.theme--dark.black--text:hover {
  background-color: black;
  color: white !important;
}
.mx-auto.v-card.v-sheet.v-sheet--outlined.theme--dark {
  position: absolute;
  top: 70px;
  right: 0px;
  background-color: #d00217;
}
.v-list-item__title.headline.mb-1 {
  font-size: 16px !important;
  font-family: "Montserrat" !important;
}
.swal2-title {
  font-family: "Montserrat";
}
.swal2-content {
  font-family: "Montserrat";
  font-size: 16px;
}
</style>